<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home web  Page</title>
</head>
<body>
    {{> header}}
    <h3>some tt here</h3>
    {{screamIt welcomeMessage}}
    {{> footer}}
</body>
</html>